.title {
  margin-bottom: var(--mantine-spacing-xl);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;

  @mixin larger-than 992px {
    margin-bottom: var(--mantine-spacing-5xl);
    font-size: 48px;
  }
}

.cards {
  flex-direction: column;
  margin-bottom: var(--mantine-spacing-xl);
  gap: var(--mantine-spacing-xs);

  @mixin larger-than 992px {
    flex-direction: row;
    margin-bottom: var(--mantine-spacing-5xl);
    gap: var(--mantine-spacing-lg);
  }
}
