.dropdown {
  top: 83px !important;
  overflow: auto;
  border: 0;
  width: 100% !important;
  max-height: calc(100vh - 83px);

  @mixin larger-than 768px {
    top: 95px !important;
    border-bottom-right-radius: var(--mantine-spacing-lg);
    border-bottom-left-radius: var(--mantine-spacing-lg);
    padding: calc(var(--mantine-spacing-5xl) - 20px) calc(var(--mantine-spacing-5xl) - 24px);
    max-width: 1084px;
    box-shadow: var(--mantine-shadow-lg);
  }
}
