.dropdown {
  top: 83px !important;
  overflow: auto;
  border: 0;
  width: 100% !important;
  max-height: calc(100vh - 83px);

  @mixin larger-than 768px {
    top: 95px !important;
    border-bottom-right-radius: var(--mantine-spacing-lg);
    border-bottom-left-radius: var(--mantine-spacing-lg);
    padding: var(--mantine-spacing-5xl);
    max-width: 1084px;
    box-shadow: var(--mantine-shadow-lg);
    padding-block: calc(var(--mantine-spacing-5xl) - 10px);
    padding-inline: calc(var(--mantine-spacing-5xl) - 24px);
  }
}

.paper {
  color: var(--mantine-color-dark-9);
  transition: background-color 0.3s;

  &:is(:hover, :focus-visible) {
    @mixin data-color 3;
  }

  @mixin data-color 2;

  @mixin larger-than 768px {
    width: 100%;
  }
}

.items {
  flex-direction: column;

  @mixin larger-than 768px {
    flex-direction: row;
  }
}

.item {
  &:hover {
    background-color: #fff;
  }
}
