.cards {
  flex-direction: column;
  margin-bottom: 40px;
  gap: 80px;

  + a {
    display: block;
    margin: auto;
    border-radius: 16px;
    width: 100%;
    min-height: 45px;
    font-size: 16px;
    background: var(--mantine-color-dark-6);

    @mixin larger-than 1024px {
      min-height: 64px;
      max-width: 706px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  @mixin larger-than 768px {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--mantine-spacing-sm);
  }

  @mixin larger-than 1024px {
    grid-template-columns: repeat(4, 1fr);
  }
}
