{
    "plugins": [
        [
            "effector/babel-plugin",
            {
                "addNames": true,
                "factories": ["./src/shared/factories", "@/shared/factories"],
                "debugSids": true,
                "addLoc": true
            }
        ]
    ]
}
