.actions {
  flex-direction: column;
  margin-top: auto;
  gap: var(--mantine-spacing-md);

  @mixin larger-than 598px {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--mantine-spacing-sm);
  }

  @mixin larger-than 1200px {
    display: flex;
    flex-direction: row;

    a,
    button {
      width: fit-content;
    }
  }
}

.fullStructureButton {
  @mixin larger-than 998px {
    border-radius: 16px;
    height: 64px;
    font-size: 20px;
    line-height: 31px;
    padding-inline: 22px;
  }
}
