.root {
  position: sticky;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--mantine-color-white);
}

.button {
  z-index: 1;
  display: flex;
  margin: 0 -12px;
  border: 0;
  padding: var(--mantine-spacing-lg);
  font-weight: 600;
  transition: opacity 5s;
  transition-delay: 5s;
  gap: var(--mantine-spacing-sm);

  &:not(:disabled) {
    @media (hover: hover) {
      &:is(:hover, :focus-visible) {
        color: var(--mantine-color-white) !important;
        background-color: var(--mantine-color-violet-6);
      }
    }
  }

  &:disabled {
    color: var(--mantine-color-gray-5) !important;
  }

  &.prev::after {
    @mixin larger-than 768px {
      content: "Назад";
    }
  }

  &.next {
    margin-left: auto;

    &::after {
      order: -1;

      @mixin larger-than 768px {
        content: "Вперед";
      }
    }

    &:only-child::after {
      order: -1;
    }
  }

  @mixin larger-than 768px {
    margin: 0;
  }
}

.next.end {
  align-items: center;

  &::before {
    display: none;
  }

  &::after {
    content: "Завершить";
  }

  @mixin larger-than 768px {
    &::after {
      content: "Завершить тестирование";
    }
  }
}

.group {
  @mixin larger-than 1200px {
    margin: auto;
    width: 100%;
    max-width: calc(100% - 738px);
  }
}
