.link {
  display: flex;
  align-items: center;
  padding: var(--mantine-spacing-sm);
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  white-space: pre;
  text-decoration: none;
  color: var(--mantine-color-dark-9);
  cursor: pointer;
  gap: var(--mantine-spacing-xs);

  @mixin larger-than 768px {
    width: fit-content;
  }
}
