.box {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "text"
    "action";

  @mixin larger-than 998px {
    grid-auto-rows: 0fr;
    grid-template-areas:
      "title image"
      "text  image"
      "action image";
    grid-template-rows: 0fr;
    margin: 120px auto 0;
    max-width: 883px;
  }
}

.image {
  grid-area: image;
  margin-bottom: var(--mantine-spacing-sm);

  @mixin larger-than 998px {
    margin-bottom: var(--mantine-spacing-md);
    margin-left: 60px;
  }
}

.title {
  grid-area: title;
  margin-bottom: var(--mantine-spacing-sm);
  text-align: center;

  @mixin larger-than 998px {
    font-size: 40px;
    text-align: left;
  }
}

.text {
  grid-area: text;
  margin-bottom: var(--mantine-spacing-md);
}

.action {
  grid-area: action;

  &:empty {
    display: none;
  }
}
