.actions {
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  gap: var(--mantine-spacing-md);

  @mixin larger-than 598px {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--mantine-spacing-sm);
  }

  @mixin larger-than 1200px {
    display: flex;
    flex-direction: row;

    a,
    button {
      width: fit-content;
    }
  }
}
