.wrapper {
  display: grid;
  grid-template-areas:
    "top man"
    "points points"
    "actions actions";
  grid-template-columns: 1fr 100px;
  margin-top: 60px;
  gap: var(--mantine-spacing-lg);

  @mixin larger-than 592px {
    grid-template-areas:
      "man top"
      "man points"
      "man actions";
    grid-template-columns: 260px 1fr;
  }
}

.top {
  grid-area: top;

  h3 {
    margin: 0;
    font-size: 20px;
    line-height: 23px;

    @mixin larger-than 592px {
      font-size: 32px;
      line-height: 37px;
    }
  }
}

.paywallMan {
  grid-area: man;
  width: 100px;
  height: 100px;

  @mixin larger-than 592px {
    width: 260px;
    height: 260px;
  }
}

.points {
  grid-area: points;
}

.actions {
  grid-area: actions;

  @mixin larger-than 592px {
    margin-left: 36px;
  }
}
