.wrapper {
  position: sticky;
  top: 100px;

  &:nth-child(even) .card {
    color: var(--mantine-color-dark-9);
  }

  &:nth-child(2) .card {
    background-color: var(--mantine-color-lime-5);
  }

  &:nth-child(3) .card {
    background-color: var(--mantine-color-pink-6);
  }

  &:nth-child(4) .card {
    background-color: var(--mantine-color-yellow-6);
  }
}

.card {
  position: relative;
  top: 0;
  overflow: hidden;
  margin: 0 auto -90px;
  border-radius: 20px;
  padding: 32px 20px;
  min-height: 244px;
  max-width: 840px;
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-violet-5);

  svg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  h4 {
    position: relative;
    z-index: 1;
    margin-bottom: 12px;
    min-height: 56px;
    font-size: 24px;
    line-height: 28px;
  }

  p {
    position: relative;
    z-index: 1;
    font-size: 18px;
    line-height: 21px;
  }

  @mixin larger-than 768px {
    padding: 40px 60px;
    min-height: 298px;

    h4 {
      font-size: 32px;
      line-height: 38px;
    }

    p {
      font-size: 22px;
      line-height: 26px;
    }
  }
}
