.drawer {
  position: relative;
  z-index: 1010;

  header {
    margin-bottom: var(--mantine-spacing-sm);
    border-bottom: 1px solid var(--mantine-color-dark-0);
    gap: 2rem;
  }

  h2 {
    flex: 1;
  }
}

.testLink {
  max-height: 45px;
}
