.title {
  font-size: 26px;

  @mixin larger-than 1024px {
    font-size: 40px;
  }
}

h5 + strong {
  font-weight: 400;
}

.content {
  position: relative;
  margin-bottom: var(--mantine-spacing-5xl);
  padding-bottom: var(--mantine-spacing-sm);

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 240px;
    height: 1px;
    background-color: var(--mantine-color-gray-6);
    translate: -50%;
  }

  span:has(strong) {
    font-size: 18px;

    @mixin larger-than 1024px {
      font-size: 22px;
    }
  }
}
