.stack {
  max-width: max-content;

  @mixin larger-than 998px {
    position: relative;
    max-width: 781px;
  }
}

.point {
  gap: var(--mantine-spacing-xs);

  @mixin larger-than 998px {
    gap: var(--mantine-spacing-sm);
  }
}

.check {
  width: 16px;
  height: 16px;

  @mixin larger-than 998px {
    width: 24px;
    height: 24px;
  }
}

.text {
  flex: 1;
  font-size: 16px;
  line-height: 18px;

  @mixin larger-than 998px {
    font-size: 22px;
    line-height: 25px;
  }
}
