.flex {
  flex-direction: column;
  margin-top: var(--mantine-spacing-lg);

  button {
    span span::after {
      @mixin larger-than 992px {
        content: "\00a0на новости";
      }

      @mixin larger-than 1200px {
        content: "";
      }

      @mixin larger-than 1460px {
        content: "\00a0на новости";
      }
    }
  }

  @mixin larger-than 992px {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @mixin larger-than 1200px {
    grid-template-columns: repeat(1, 1fr);
  }

  @mixin larger-than 1460px {
    grid-template-columns: repeat(2, 1fr);
  }
}
