.paper {
  position: relative;
  overflow: hidden;
  margin-bottom: var(--mantine-spacing-3xl);
  padding: var(--mantine-spacing-sm);
  text-align: center;
  padding-block: var(--mantine-spacing-md);

  @mixin data-color 2;

  @mixin larger-than 600px {
    margin-bottom: 60px;
    padding: 0 var(--mantine-spacing-sm) 0 153px;
    text-align: left;
    padding-block: 0;
  }
}

.title {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 23px;

  @mixin larger-than 600px {
    font-size: 40px;
    line-height: 47px;
    padding-block: 50px;
  }
}

.box {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  &:last-child {
    left: 0;
    right: unset;
  }

  @mixin text-data-color 2;
}
