.header {
  margin-bottom: var(--mantine-spacing-xs);
  border-bottom: 1px solid var(--mantine-color-gray-3);
  width: 100%;
  padding-block: var(--mantine-spacing-xl);

  @mixin larger-than 768px {
    margin-bottom: var(--mantine-spacing-3xl);
  }

  @mixin larger-than 1024px {
    margin-bottom: 80px;
  }
}

.logoLink {
  display: flex;
  align-items: center;
}

.burger > div {
  border-radius: var(--mantine-spacing-xl);

  &::after,
  &::before {
    border-radius: var(--mantine-spacing-xl);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--mantine-spacing-md);

  @mixin larger-than 768px {
    padding-inline: 64px;
  }
}
