.header {
  position: fixed;
  z-index: 200;
  margin-bottom: var(--mantine-spacing-xs);
  border-bottom: 1px solid var(--mantine-color-gray-3);
  width: 100%;
  box-shadow: 0 0 4px 1px #20007f1a;
  background-color: #fff;
  transform: translate3d(0, -120px, 0);
  transition: transform 400ms ease;
  padding-block: var(--mantine-spacing-xl);

  &.pinned {
    transform: translate3d(0, 0, 0);
  }

  @mixin larger-than 768px {
    margin-bottom: var(--mantine-spacing-3xl);
  }

  @mixin larger-than 1200px {
    left: 16px;
    right: 16px;
    top: 0;
    margin: 20px auto 80px;
    border-bottom: none;
    border-radius: 20px;
    max-width: calc(100% - 32px);
    padding-block: 0;
  }

  @mixin larger-than 1682px {
    max-width: 1682px;
  }
}

.logoLink {
  display: flex;
  align-items: center;
}

.burger > div {
  border-radius: var(--mantine-spacing-xl);

  &::after,
  &::before {
    border-radius: var(--mantine-spacing-xl);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--mantine-spacing-md);

  @mixin larger-than 1421px {
    padding-inline: 40px;
  }
}

.logoLarge {
  display: none;

  @mixin smaller-than 1200px {
    display: block;
  }

  @mixin larger-than 1400px {
    display: block;
  }
}

.logoSmall {
  display: none;

  @mixin larger-than 1200px {
    display: block;
  }

  @mixin larger-than 1400px {
    display: none;
  }
}
