@define-mixin get-type-image {
  /* INTJ */
  &[data-type="INTJ"] {
    background-image: url("/images/circles/INTJ_0.png");

    &:hover {
      background-image: url("/images/circles/INTJ_1.png");
    }
  }

  /* INTP */
  &[data-type="INTP"] {
    background-image: url("/images/circles/INTP_0.png");

    &:hover {
      background-image: url("/images/circles/INTP_1.png");
    }
  }

  /* ENTJ */
  &[data-type="ENTJ"] {
    background-image: url("/images/circles/ENTJ_0.png");

    &:hover {
      background-image: url("/images/circles/ENTJ_1.png");
    }
  }

  /* ENTP */
  &[data-type="ENTP"] {
    background-image: url("/images/circles/ENTP_0.png");

    &:hover {
      background-image: url("/images/circles/ENTP_1.png");
    }
  }

  /* INFJ */
  &[data-type="INFJ"] {
    background-image: url("/images/circles/INFJ_0.png");

    &:hover {
      background-image: url("/images/circles/INFJ_1.png");
    }
  }

  /* INFP */
  &[data-type="INFP"] {
    background-image: url("/images/circles/INFP_0.png");

    &:hover {
      background-image: url("/images/circles/INFP_1.png");
    }
  }

  /* ENFJ */
  &[data-type="ENFJ"] {
    background-image: url("/images/circles/ENFJ_0.png");

    &:hover {
      background-image: url("/images/circles/ENFJ_1.png");
    }
  }

  /* ENFP */
  &[data-type="ENFP"] {
    background-image: url("/images/circles/ENFP_0.png");

    &:hover {
      background-image: url("/images/circles/ENFP_1.png");
    }
  }

  /* ISTJ */
  &[data-type="ISTJ"] {
    background-image: url("/images/circles/ISTJ_0.png");

    &:hover {
      background-image: url("/images/circles/ISTJ_1.png");
    }
  }

  /* ISFJ */
  &[data-type="ISFJ"] {
    background-image: url("/images/circles/ISFJ_0.png");

    &:hover {
      background-image: url("/images/circles/ISFJ_1.png");
    }
  }

  /* ESTJ */
  &[data-type="ESTJ"] {
    background-image: url("/images/circles/ESTJ_0.png");

    &:hover {
      background-image: url("/images/circles/ESTJ_1.png");
    }
  }

  /* ESFJ */
  &[data-type="ESFJ"] {
    background-image: url("/images/circles/ESFJ_0.png");

    &:hover {
      background-image: url("/images/circles/ESFJ_1.png");
    }
  }

  /* ISTP */
  &[data-type="ISTP"] {
    background-image: url("/images/circles/ISTP_0.png");

    &:hover {
      background-image: url("/images/circles/ISTP_1.png");
    }
  }

  /* ISFP */
  &[data-type="ISFP"] {
    background-image: url("/images/circles/ISFP_0.png");

    &:hover {
      background-image: url("/images/circles/ISFP_1.png");
    }
  }

  /* ESTP */
  &[data-type="ESTP"] {
    background-image: url("/images/circles/ESTP_0.png");

    &:hover {
      background-image: url("/images/circles/ESTP_1.png");
    }
  }

  /* ESFP */
  &[data-type="ESFP"] {
    background-image: url("/images/circles/ESFP_0.png");

    &:hover {
      background-image: url("/images/circles/ESFP_1.png");
    }
  }
}

.wrapper {
  margin-bottom: var(--mantine-spacing-5xl);
  padding: 0;
  text-align: center;
}

.imageWrapper {
  position: relative;
  margin: auto auto var(--mantine-spacing-lg);
  width: 200px;
  height: 200px;
  background-size: 200px;

  @mixin get-type-image;

  @mixin larger-than 992px {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
}

.image {
  position: relative;
  z-index: 1;
  margin: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;

  @mixin larger-than 992px {
    width: 300px;
    height: 300px;
  }
}

.title {
  margin-bottom: var(--mantine-spacing-sm);
  font-size: 22px;

  @mixin larger-than 992px {
    font-size: 28px;
  }
}

.text {
  @mixin larger-than 992px {
    font-size: 22px;
  }
}
