.box {
  text-align: center;
  padding-block: 80px;

  @mixin larger-than 768px {
    padding-block: 80px;
  }
}

.text {
  margin: 0 auto var(--mantine-spacing-md);
  width: fit-content;
  font-weight: 700;
  font-size: 56px;
  line-height: 65px;
}

.test {
  border-radius: 20px;
  padding: 7px 56px;
  background-color: var(--mantine-color-lime-4);
}

.ai {
  position: relative;
  margin-left: var(--mantine-spacing-xs);

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    width: 93px;
    height: 85px;
    transform: translate(-50%, -50%);
  }
}

.description {
  margin-bottom: 67px;
  max-width: 1438px;
  font-size: 24px;
  line-height: 28px;
}

/* Shadow */
.shadow {
  --color-1: 0deg 100% 63%;
  --color-2: 270deg 100% 63%;
  --color-3: 210deg 100% 63%;
  --color-4: 195deg 100% 63%;
  --color-5: 90deg 100% 63%;

  position: relative;
  overflow: visible;
  background: linear-gradient(0deg, #000, #262626) !important;
}

.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(
    90deg,
    hsl(var(--color-1)),
    hsl(var(--color-5)),
    hsl(var(--color-3)),
    hsl(var(--color-4)),
    hsl(var(--color-2))
  );
  background-size: 200%;
  animation: animate 10s linear infinite;
}

.shadow::after {
  filter: blur(20px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}
