.box {
  margin-bottom: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  * {
    height: fit-content;
  }

  @mixin larger-than 768px {
    margin-bottom: 0;
    padding-bottom: 80px;
    text-align: left;
  }

  @mixin larger-than 992px {
    display: grid;
    grid-auto-rows: 0fr;
    grid-template-areas:
      "t i"
      "s i"
      "d i"
      "b i";
  }
}

:is(h1, p).text {
  margin: 0 auto 6px;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;

  @mixin larger-than 768px {
    margin-left: 0;
    font-size: 56px;
    line-height: 65px;
  }
}

h1.title {
  grid-area: t;
  border-radius: 16px;
  padding: 5px 15px;
  background-color: var(--mantine-color-lime-4);

  @mixin larger-than 768px {
    padding: 7px 20px;
  }

  @mixin larger-than 1200px {
    margin-top: 105px;
  }
}

p.subtitle {
  grid-area: s;
  margin-bottom: var(--mantine-spacing-lg);

  > span {
    display: block;
    margin-top: 8px;
  }

  @mixin larger-than 576px {
    > span {
      display: inline-block;
    }
  }

  @mixin larger-than 768px {
    margin-bottom: 28px;
  }

  @mixin larger-than 1390px {
    br {
      display: none;
    }
  }
}

span.ai {
  position: relative;
  margin-left: var(--mantine-spacing-xs);
  width: 100%;

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    width: 46px;
    height: 42px;
    transform: translate(-50%, -50%);

    @mixin larger-than 768px {
      width: 93px;
      height: 85px;
    }
  }
}

p.description {
  grid-area: d;
  margin-bottom: 16px;
  max-width: 559px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  @mixin larger-than 768px {
    margin-bottom: 64px;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
  }
}

.image {
  grid-area: i;
  margin: 0 auto 40px;
  max-width: 280px;
  max-height: 280px;

  @mixin larger-than 992px {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 673px;
    max-height: 673px;
  }
}
