.root {
  min-height: 1200px;
}

.title,
.title span {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;

  @mixin larger-than 1024px {
    margin-bottom: 80px;
    font-size: 64px;
    line-height: 75px;
  }
}

.container {
  position: relative;
  padding-bottom: 0;
}

.content {
  position: relative;

  @mixin larger-than 992px {
    margin-bottom: 10rem;
  }
}

.card {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;

  @mixin larger-than 1024px {
    display: grid;
    column-gap: 240px;
    align-items: center;
    grid-template-areas:
      "t i"
      "d i";
    grid-template-columns: 1fr 300px;
  }
}

.cardTitle {
  grid-area: t;
  margin: 0 0 16px;
  font-size: 32px;
  line-height: 38px;
  text-align: center;

  &[data-index="0"] {
    color: var(--mantine-color-lime-8);
  }

  &[data-index="1"] {
    color: var(--mantine-color-violet-7);
  }

  &[data-index="2"] {
    color: var(--mantine-color-pink-7);
  }

  @mixin larger-than 1024px {
    margin-bottom: 32px;
    height: fit-content;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
  }
}

.cardDescription {
  grid-area: d;
  margin: 0 0 16px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  @mixin larger-than 1024px {
    align-items: center;
    grid-row-end: 1;
    margin-bottom: 0;
    width: 760px;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
  }
}

.cardImage {
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 280px;

  @mixin larger-than 1024px {
    height: auto;
    max-width: 300px;
  }
}

.images img {
  max-width: 350px;
  max-height: 350px;
}
