.root {
  position: relative;

  @mixin larger-than 992px {
    order: 1;
    max-height: 45px;
  }
}

.link {
  align-items: center;
  padding: 8px 10px;
  text-decoration: none;
  color: var(--mantine-color-gray-9);
  transition: 0.15s ease-in-out background-color;

  &:hover {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-violet-6);
  }

  @mixin larger-than 992px {
    border-radius: var(--mantine-radius-md);
    height: 45px;
    font-size: 16px;
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-dark-6);

    span {
      overflow: visible;
    }
  }
}

.collapse {
  padding: 4px;
  background: var(--mantine-color-white);

  @mixin larger-than 992px {
    position: absolute;
    right: 0;
    top: 4rem;
    border: 1px solid var(--mantine-color-gray-4);
    min-width: 240px;
  }
}

.category {
  padding: 12px;

  @mixin larger-than 992px {
    overflow: hidden;
    padding: 0;
  }
}

.categoryTitle {
  --s: 1px; /* the thickness */
  --c: var(--mantine-color-gray-3); /* the color */
  --w: calc(100vw - 8px); /* the width */
  --g: 10px; /* the gap */

  position: relative;
  z-index: 1;
  margin: 0;
  border-image: linear-gradient(#0000 calc(50% - var(--s) / 2), var(--c) 0 calc(50% + var(--s) / 2), #0000 0) 0 1/0
    var(--w) / 0 calc(var(--w) + var(--g));
  width: fit-content;
  color: var(--mantine-color-gray-6);
  background-color: #fff;

  @mixin larger-than 992px {
    --w: calc(100vw);
    --g: 2px;

    left: 10px;
    font-size: 12px;
  }
}

.reportLink {
  padding: 10px;
  text-decoration: none;
  color: var(--mantine-color-dark-6);

  p {
    min-width: 170px;
  }

  time {
    color: var(--mantine-color-gray-6);
  }

  &:hover {
    background-color: var(--mantine-color-gray-1);
  }
}
