.root {
  position: relative;

  @mixin larger-than 992px {
    order: 1;
    max-height: 45px;
  }
}

.link {
  align-items: center;
  padding: 8px 10px;
  width: max-content;
  height: 50px;
  text-decoration: none;
  color: var(--mantine-color-gray-9);
  transition: 0.15s ease-in-out background-color;

  @mixin larger-than 992px {
    border-radius: var(--mantine-radius-md);
    height: 45px;
    min-width: 205px;
    font-size: 16px;
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-dark-6);
    padding-inline: 22px;

    span {
      overflow: visible;
    }

    &:hover {
      color: var(--mantine-color-white);
      background-color: var(--mantine-color-violet-6);
    }
  }
}

.link svg {
  transition: rotate 0.3s ease-in-out;
  translate: 0 8%;

  &.rotate {
    rotate: -180deg;
  }

  @mixin larger-than 992px {
    translate: 0;
  }
}

.buttonGroup {
  align-items: center;
  gap: 10px;
}

.pill {
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-gray-8);

  span {
    font-weight: 700;
    line-height: 20px;
  }
}

.collapse {
  padding: 4px;
  background: var(--mantine-color-white);
  padding-inline: var(--mantine-spacing-md);

  @mixin larger-than 992px {
    position: absolute;
    right: 0;
    top: calc(2.5rem + 8px);
    border: 1px solid var(--mantine-color-gray-4);
    border-radius: 4px;
    min-width: 240px;
    box-shadow:
      0 1px 3px 0 #0000000d,
      0 10px 15px -5px #0000000d,
      0 7px 7px -5px #0000000a;
  }
}

.category {
  overflow: hidden;
  padding: 12px;

  @mixin larger-than 992px {
    overflow: hidden;
    padding: 0;
  }
}

.categoryTitle {
  --s: 1px; /* the thickness */
  --c: var(--mantine-color-gray-3); /* the color */
  --w: calc(100vw - 8px); /* the width */
  --g: 2px; /* the gap */

  position: relative;
  z-index: 1;
  margin: 0;
  border-image: linear-gradient(#0000 calc(49% - var(--s) / 2), var(--c) 0 calc(50% + var(--s) / 2), #0000 0) 0 1/0
    var(--w) / 0 calc(var(--w) + var(--g));
  width: fit-content;
  font-size: 12px;
  color: var(--mantine-color-gray-6);
  background-color: #fff;

  @mixin larger-than 992px {
    --w: calc(100vw);
    --g: 2px;

    left: 10px;
  }
}
