.pic {
  img {
    height: 200px;
    max-width: 200px;

    @mixin larger-than 992px {
      height: 400px;
      max-width: 400px;
    }
  }
}

.center {
  margin-bottom: 3rem;

  @mixin larger-than 992px {
    margin-bottom: 10rem;
  }
}

.title {
  font-size: 24px;

  @mixin larger-than 992px {
    font-size: 40px;
  }
}

.stack {
  gap: 1rem;

  @mixin larger-than 992px {
    gap: 20px;
  }
}
