@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.wrapper {
  overflow: hidden;
  margin-inline: -16px;
}

.root {
  --gap: var(--mantine-spacing-lg);
  --duration: 10s;

  display: flex;
  animation: marquee var(--duration) infinite linear;
  gap: var(--gap);

  &.hasPause {
    &:hover {
      animation-play-state: paused;
    }
  }

  &.row {
    flex-direction: row;
  }

  &.col {
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  gap: var(--gap);

  &.row {
    flex-direction: row;
  }

  &.col {
    flex-direction: column;
  }
}
