.root {
  @mixin text-data-color 9;

  @mixin smaller-than 768px {
    max-width: calc(100% - 4vw);
  }
}

.itemWrapper {
  display: inline-flex;
}

.itemLabel {
  p {
    margin-bottom: var(--mantine-spacing-xs);
    font-weight: 600;
  }

  @mixin larger-than 1200px {
    gap: var(--mantine-spacing-xs);
  }
}

.text {
  font-size: 18px;

  @mixin larger-than 768px {
    font-size: 22px;
  }
}
