.reportLink {
  margin-left: -12px;
  padding: 10px;
  width: calc(100% + 24px);
  text-decoration: none;
  color: var(--mantine-color-dark-6);

  p {
    min-width: 170px;
  }

  time {
    color: var(--mantine-color-gray-6);
  }

  &:hover {
    background-color: var(--mantine-color-gray-1);
  }

  @mixin larger-than 992px {
    margin: 0;
    padding: 4px 10px;
    width: 100%;
  }
}
