.mkd {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.text {
  font-size: 16px;

  @mixin larger-than 768px {
    font-size: 22px;
  }
}

.title {
  font-size: 16px;
}
