div {
  &[data-size="md"]:has(input) {
    --input-height: 48px !important;
  }

  &[data-size="lg"]:has(input) {
    --input-height: 56px !important;
    --input-fz: var(--mantine-font-size-md) !important;
  }
}
