.paper {
  position: relative;
  flex: 1;
  overflow: hidden;
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-md) var(--mantine-spacing-sm);
  background-color: var(--mantine-color-violet-7);

  @mixin larger-than 992px {
    padding: var(--mantine-spacing-3xl) var(--mantine-spacing-lg);
    padding-bottom: 60px;
  }
}

.background {
  position: absolute;
  left: 0;
  top: -100%;
  z-index: 0;
  rotate: -90deg;
  scale: 0.6;

  @mixin larger-than 415px {
    top: 0;
    rotate: 0deg;
    scale: 1;
  }

  @mixin larger-than 1200px {
    top: -20%;
  }
}

.flex {
  position: relative;
  z-index: 1;
  flex-direction: row;

  @mixin larger-than 992px {
    flex-direction: column;
    gap: var(--mantine-spacing-lg);
  }
}

.picture {
  width: 50px;
  height: 50px;

  @mixin larger-than 992px {
    width: 120px;
    height: 120px;
  }
}

.title,
.text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--mantine-color-white);

  @mixin larger-than 992px {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }
}

.text {
  font-weight: 500;
  font-size: 14px;

  @mixin larger-than 992px {
    font-size: 21px;
  }
}
