.wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 60px;
  background-color: var(--mantine-color-violet-7);
  padding-block: 60px;
  padding-inline: var(--mantine-spacing-md);

  &::after {
    content: "";
    position: absolute;
    left: -200px;
    top: -150px;
    z-index: -1;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: var(--mantine-color-violet-8);
  }

  > svg {
    position: absolute;
    left: -10px;
    top: 0;
    z-index: -1;
    width: 350px;
    height: 350px;
  }

  @mixin larger-than 992px {
    margin-bottom: 160px;
    padding-block: 160px;
    padding-inline: 145px;
  }
}

.title {
  margin-bottom: var(--mantine-spacing-xl);
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: var(--mantine-color-white);

  @mixin larger-than 992px {
    margin-bottom: 80px;
    font-size: 64px;
    line-height: 75px;
  }
}

.flex {
  flex-direction: column;
  margin-bottom: 24px;

  @mixin larger-than 992px {
    flex-direction: row;
    margin-bottom: 80px;
  }
}

.paper {
  border-radius: 20px;
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-violet-5);
  padding-block: var(--mantine-spacing-xl);
  padding-inline: var(--mantine-spacing-lg);

  @mixin larger-than 992px {
    padding-block: 32px;
    padding-inline: 40px;
  }
}

.number {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 50px;
  height: 50px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--mantine-color-violet-4);
    transform: translate(-50%, -50%);
  }

  svg {
    width: 50px;
    height: 50px;
  }
}

.cardTitle {
  margin-bottom: var(--mantine-spacing-sm);
  font-size: 24px;
  line-height: 28px;

  @mixin larger-than 992px {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 38px;
  }
}

.cardText {
  font-size: 18px;
  line-height: 21px;

  @mixin larger-than 992px {
    font-size: 22px;
    line-height: 26px;
  }
}
