.relative {
  position: relative;
}

.letters {
  --index: 1;
  --radius: 5;
  --total: 1;
  --character-spacing: -1.1ch;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(calc(360deg / var(--total) * var(--index)))
    translateY(calc(var(--radius, 5) * var(--character-spacing)));
  transform-origin: center;
}
